[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
whitenoise = "*"
certifi = "==2018.10.15"
pipenv = "==2018.10.13"
pytz = "==2018.5"
virtualenv = "==16.0.0"
virtualenv-clone = "==0.4.0"
Django = "==2.1.2"

[dev-packages]

[requires]
python_version = "3.6"
